@charset "UTF-8";

/* 
Paleta de cores
Verde: #49a09d
Lilas: #5f2c82

*/

* {
    margin: 0px;
    padding: 0px;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}

body,html {
    background-color: #5f2c82;    
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;    
    background-color: white;
    width: 297px;
    height: 511px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    
    transform: translate(-50%,-50%);
    transition: width .6s, height .6s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    background: #5f2c82 url(../imagens/pexels-lawlesscapture-13737660.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    background-color:#5f2c82;
    font-size: 2em;
    width: 40px;
    
    
}

div.campo > input {
    background-color: #6ae7e3;
    height: 100%;
    width: 83%;    
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-9px);
}

div.campo > input:focus-within {
    background-color: whitesmoke;
}

form > div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 99%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

form > input[type=submit]:hover {
    background-color: #204644;
    transition: 0.4s;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #204644;
    border-radius: 5px;
    text-decoration: none;
    color: #122726;
    padding-top: 5px;
    margin-top: 5px;

}

form > a.botao:hover{
    background-color: #6cece8;
}


